
<%if current_admin %>
<div class = "admins">
  <h1>Add Admin</h1>
  <div class = "messages">

  <%= form_for @admin do |f| %>
    <% if @admin.errors.any? %>
    <div class = "flash">
      <h3>Invalid info</h3>
        <% for message in @admin.errors.full_messages %>
        <%= message %><br>
        <% end %>
    </div>
    <% end %>
      <%=f.label :admin_name %>
      <div class = "form"><%=f.text_field :admin_name %></div></br><br>
      <%=f.label :password %>
      <div class = "form"><%=f.password_field :password %></div></br><br>
      <%=f.label :password_confirmation %>
      <div class = "form"> <%=f.password_field :password_confirmation %></div><br><br><br>
      <%=f.submit :class => "submit splash-button" %>
      <%end%>
</div>
<% else %>
<div class = "messages">You must log in as an administrator.  <%=link_to "Login As Admin", "/admin_login"%></div>
<%end%>
