  <div id="start-menu" style= "display:none" class = menu>
      <span style="font-size:40px">Welcome to Dancing Cities!</span>
      <br><br>
      Dancing Cities is an interactive, visual representation of New York City.
      The virtual city is generated dynamically using NYC data including the current weather, latitude and longitudes points that represent locations within the city, and recent tweets sent from NYC.<br><br> Try finding the graffiti wall with messages from other players, and post your own message!<br><br>
      <div class = "menu-box"><h3>TO PLAY:</h3>
      Move MOUSE to look around<br>
      Press UP, DOWN, RIGHT, LEFT to move<br>
      Press SPACEBAR to jump</div>
      <% if current_user %>
      You are signed into Dancing Cities through Twitter.
      <%= link_to "Sign out of twitter", signout_path  %><br><br>
      <% else %>
      <%= link_to "To Personalize your experience, Sign In with Twitter", "/auth/twitter", class: "splash-button" %> <br>
      <% end %>
      <div class = "splash-button", id = "start-button">Explore the city as it moves to music!</div>
    </div>

<div id="end-menu" class ="menu" style= "display:none">
    <h1> Thanks for playing! We hope you enjoyed the experience.</h1>
    <% twitter_message = URI.parse('http://twitter.com/home') %>
    <% twitter_message.query = URI.encode_www_form('status' => "I just played #DancingCities at dancingcities.heroku.com")%>
    <%= link_to "Tweet this", twitter_message.to_s %>
    <div class = "splash-button", id = "start-button"><%= link_to "Play again", root_path%></div>
    <% if current_user %>
    <%= link_to "Sign Out of Twitter", signout_path %>
    <% end %>
  </div>


  <div id="blocker">
    <div id="instructions" style= "display:none">
      <span style="font-size:40px">Click to play</span>
      <br><br>
      Move MOUSE to look around<br>
      Press UP, DOWN, RIGHT, LEFT to move<br>
      Press SPACEBAR to jump<br>
    </div>

  </div>
  <div id="graffiti-form">
    Leave a message for the world. Hit "Enter" when you're finished.
    <p id="user-input"></p>
  </div>

  <div id="ThreeJS" style="position: absolute; left:0px; top:0px"></div>
